<header>
  <div class="logo">
    <a class="brand" [routerLink]="['']">GAD Studios</a>
  </div>
  <ul class="nav">
    <li><a [routerLink]="['/home']" [routerLinkActive]="['actived']">Home</a></li>
    <li><a [routerLink]="['/news']" [routerLinkActive]="['actived']">News</a></li>
    <li><a [routerLink]="['/proyects']" [routerLinkActive]="['actived']">Proyects</a></li>
    <li><a [routerLink]="['/roadmap']" [routerLinkActive]="['actived']">Roadmap</a></li>
    <li><a [routerLink]="['/about']" [routerLinkActive]="['actived']">About</a></li>
  </ul>
</header>

<router-outlet></router-outlet>

<div class="footer">
  © 2021, AD Gaming, Inc. All rights reserved.
</div>